
.word-document {
    border: 1px solid #000; /* Ajouter une bordure pour simuler le cadre d'une page Word */
    padding: 20px; /* Ajouter un espacement à l'intérieur du cadre */
    max-width: 800px; /* Limiter la largeur de la fiche d'intervention */
    margin: 0 auto; /* Centrer la fiche d'intervention */
  }
  .section {

    border: 1px solid #000; /* Ajouter une bordure pour simuler le cadre d'une page Word */
    padding: 20px; /* Ajouter un espacement à l'intérieur du cadre */
    max-width: 800px; /* Limiter la largeur de la fiche d'intervention */
    margin: 0 auto; /* Centrer la fiche d'intervention */
    margin-bottom:10px;
  
}
  

  .title-section {

    border: 1px solid #000; /* Ajouter une bordure pour simuler le cadre d'une page Word */
    padding: 20px; /* Ajouter un espacement à l'intérieur du cadre */
    max-width: auto; /* Limiter la largeur de la fiche d'intervention */
    margin: 0 auto; 
    margin-bottom:50px;
  }
  
  .title-section h1 {
    margin: 0; /* Supprimer les marges autour du titre */
    padding: 10px; 
    text-align: center; /* Aligner le texte au centre */
font-size: 25px;
text-decoration: underline; /* Souligner le texte */

  }
  .pp{
    font-size: 20px;
  }
  .section1 {
    margin-bottom:10px;

    border: 1px solid #000; /* Ajouter une bordure pour simuler le cadre d'une page Word */
    padding: 20px; /* Ajouter un espacement à l'intérieur du cadre */
    max-width: 800px; /* Limiter la largeur de la fiche d'intervention */
    margin: 0 auto; /* Centrer la fiche d'intervention */
  }
  .section2 {
    margin-top:20px;

    border: 1px solid #000; /* Ajouter une bordure pour simuler le cadre d'une page Word */
    padding: 20px; /* Ajouter un espacement à l'intérieur du cadre */
    max-width: 800px; /* Limiter la largeur de la fiche d'intervention */
    margin: 0 auto; /* Centrer la fiche d'intervention */
  }
  .h55{
    text-decoration: underline; /* Souligner le texte */


  }