body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#75C9E5;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#75C9E5;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #75C9E5 !important;
       color:#75C9E5;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #75C9E5 !important;
       color:#fff;
       height:40px;
       background-color:#75C9E5;
}

.buttons button:nth-child(2){
       border:1px solid #75C9E5 !important;
       background-color:#75C9E5;
       color:#fff;
        height:40px;
}
#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #176184;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    margin-left: 270px;
    margin-top: 20px; /* Ajustez la marge supérieure */
    margin-bottom: 20px; /* Ajustez la marge inférieure */
  }